###
 # parameters.coffee.dist
 # 
 # This file is subject to the terms and conditions defined in
 # file 'LICENSE', which is part of this source code package.
 # 
 # Crafted at FlightSafety International®.
###

###############################################################################
#                                                                             #
# This file is meant to be hidden, it contains all sensible data              #
# of your application.                                                        #
# Make sure to add it to your `.gitignore` !                                  #
#                                                                             #
###############################################################################

module.exports =
  "express.port": 1337
  "express.host": "localhost"

  "ORM.database": "database"
  "ORM.username": "username"
  "ORM.password": "password"
  "ORM.options":
    dialect: "postgres"